{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {{ block.super }}
    <div id="current-time-container" style="font-weight: bold; margin-top: 20px;">
        Current Time (PKT): <span id="current-time"></span>
    </div>
    <script>
        function getCurrentTimeInPKT() {

            const now = new Date();


            const pktOffset = 5;
            const pktDate = new Date(now.getTime() + (pktOffset * 60 * 60 * 1000));


            const options = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
            document.getElementById('current-time').textContent = pktDate.toLocaleTimeString([], options);
        }

        setInterval(getCurrentTimeInPKT, 1000);
        getCurrentTimeInPKT();
    </script>
{% endblock %}
